:root {
	--background-color:white;
	--color:black;
}

.App {
	text-align: center;
	background-color: var(--background-color);
	color: var(--color);
	padding: 30px;
}

.App-content {
	text-align: left;
	width: 1356px;
	max-width: 80%;
	margin: 0 auto;
}

.App.dark{
	--background-color:black;
	--color:white;

}

.App.dark code {
	background-color: #333537;
}

code {
	background-color: #e8e8e9;
	font-size: 16px;
	padding: 2px 5px;
	border-radius: 5px;
}

.App-content>p{
	text-align: justify;
}

.divider{
	width: 100%;
	height: 1px;
	background-color: #dddddd;
}
